.card{
    width: fit-content;
    margin: 50px auto;
    border: 2px solid black;
    box-shadow: 0 0 20px 5px;
}

.center{
    text-align: center;
}

.noMargin{
    margin-top: 0;
    margin-bottom: 0;
}

.counter-btn{
    width: 100%;
}

#ice-cream-container{
    width: 200px;
    height: 400px;
    margin: auto;
    background-color: gray;
    overflow: hidden;
}

.ice-ele{
    font-size: 16px;
}